<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoezy</title>


    <!-- Google Font -->
    <link href="/images/shoezy.jpg" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style1.css" type="text/css">
</head>


<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->

    <!-- Offcanvas Menu Begin -->

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option cart-section">
            <a href="#" onclick="checkUserSessioFoWishlist()"><img src="/images/icon/heart.png" alt=""></a>
            <a href="#" onclick="checkUserSession()"><img src="/images/icon/shopping-cart.png" style="width: 80%;"
                    alt="">
                <span>0</span></a>
            <a href="/user-account"><img src="/images/icon/user.png" width="80%" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->


    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <!-- <a href="./index.html"><img src="/images/logo.png" alt=""></a> -->
                        <div class="shoezy-logo mt-0">shoezy</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">

                        <ul>
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" onclick="checkUserSessioFoWishlist()"><img src="/images/icon/heart.png" alt=""></a>
                        <a href="#" onclick="checkUserSession()">
                            <img src="/images/icon/shopping-cart.png" width="80%" alt="">
                        </a>
                        <a href="/user-account"><img src="/images/icon/user.png" width="80%" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    <!-- Shop Details Section Begin -->
    <section class="shop-details">
        <div class="product__details__pic">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__breadcrumb">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Product Details</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <input type="hidden" value="<%=product%>" id="product">
                        <ul class="nav nav-tabs" role="tablist">
                            <% for (let j=0; j < product.image.length; j++) { %>
                                <li class="nav-item">
                                    <a class="nav-link <%= j === 0 ? 'active' : '' %>" data-toggle="tab"
                                        href="#tabs-<%= j+1 %>" role="tab">
                                        <div class="product__thumb__pic set-bg"
                                            data-setbg="/images/shop-details/thumb-<%= j+1 %>.png">
                                            <img src="/uploads/<%= product.image[j] %>" alt=""
                                                onclick="changeImage(this)">
                                        </div>
                                    </a>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="col-lg-9 col-md-9"> <!-- Changed from "row" to "col-lg-9 col-md-9" -->
                        <div class="product-details-container">
                            <div class="tab-content">
                                <div class="image-div">
                                    <div class="lens"></div>
                                    <div class="zoom"></div>
                                    <div class="product__details__pic__item">
                                        <img src="/uploads/<%= product.image[0] %>" style="height: 400px;" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__content">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>
                                <%= product.productName %>
                            </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>
                            <h3>
                                ₹ <%=product.Prize%><span>70.00</span>
                            </h3>
                            <p>
                                <%=product.description %>
                            </p>
                            <% if(product.stock !==0){ %>
                                <div class="product__details__cart__option">
                                    <a onclick="addtocart('<%= product._id %>','<%= product.Prize %>'); return false;"
                                        style="color: white;" class="primary-btn">add to cart</a>
                                    <a onclick="addtowishlist('<%= product._id %>'); return false;"
                                        style="color: white;" class="primary-btn">add to wishlist</a>
                                </div>
                                <% } else {%>
                                    <h3 class="text-danger">This product is currently on out of stock</h3>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <div class="shoezy-logo mt-0" style="color: white;">shoezy</div>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/images/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <%- include('../layouts/footer.ejs') %>