<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoezy</title>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style1.css" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
            <a href="#"><img src="/images/icon/heart.png" alt=""></a>
            <a href="/product-cart"><img src="/images/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <!-- <a href="./index.html"><img src="/images/logo.png" alt=""></a> -->
                        <div class="shoezy-logo mt-0">shoezy</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/images/icon/search.png" alt=""></a>
                        <a href="#"><img src="/images/icon/heart.png" alt=""></a>
                        <a href="#" onclick="checkUserSession()">
                            <img src="/images/icon/shopping-cart.png" width="80%" alt="">
                        </a>
                        <a href="/user-account"><img src="/images/icon/user.png" width="80%" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <% if (typeof cartProducts === 'undefined' || typeof cartProducts.products === 'undefined' || cartProducts.products.length === 0) { %>                    <div class="col-lg-12 d-flex justify-content-center">
                        <img src="/images/cart.jpg" style="margin-top: -8%;" alt="">
                    </div>
                    <% } else { %>
                        <div class="col-lg-8">
                            <div class="shopping__cart__table">
                                <input type="hidden" value="<%=cartProducts%>" name="cartProducts">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (cartProducts && cartProducts.products) { %>
                                            <% cartProducts.products.forEach(product=> { %>
                                                <tr>
                                                    <td class="product__cart__item">
                                                        <div class="product__cart__item__pic">
                                                            <img src="/uploads/<%= product?.productID?.image[0] %>"
                                                                style="max-width: 30%;" alt="">
                                                        </div>
                                                        <div class="product__cart__item__text">
                                                            <h6>
                                                                <%= product?.productID?.productName %>
                                                            </h6>
                                                            <h5>₹<%= product?.productID?.Prize %>
                                                            </h5>
                                                        </div>
                                                    </td>
                                                    <td class="quantity__item">
                                                        <div class="quantity">
                                                            <button id="increase"
                                                                onclick="decrease('<%= product?.productID?.Prize %>','<%= product?.productID._id %>')"
                                                                style="border: none; background-color: white;">
                                                                <img src="/images/icon/minus.png" alt="">
                                                            </button>
                                                            <span id="quantityValue_<%= product?.productID._id %>"
                                                                data-id="<%= product?.productID._id %>">
                                                                <%=product?.quantity %>
                                                            </span>
                                                            <button id="decrease"
                                                                onclick="increase('<%= product?.productID?.Prize %>','<%= product?.productID._id %>')"
                                                                style="border: none; background-color: white;">
                                                                <img src="/images/icon/next.png" alt="">
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="cart__price" id="total_<%= product?.productID._id %>">
                                                        ₹<%=product?.total %>
                                                    </td>
                                                    <td class="cart__close">
                                                        <button
                                                            onclick="removeproduct('<%= product.productID._id %>', this.parentNode.parentNode)"
                                                            class="fa fa-close"
                                                            style="border-radius: 10px; border: none;">
                                                        </button>
                                                    <td>
                                                </tr>

                                                <% }); %>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn">
                                        <a href="/shop">Continue Shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <!-- <div class="cart__discount">
                                <h6>Discount codes</h6>
                                <form action="#">
                                    <input type="text" placeholder="Coupon code">
                                    <button type="submit">Apply</button>
                                </form>
                            </div> -->
                            <div class="cart__total">
                                <h6>Cart total</h6>
                                <ul>
                                    <input type="hidden" value="<%=subtotal%>">
                                    <li id="subtotal">Subtotal <span>₹<%=subtotal%></span></li>
                                    <li id="total">Total <span>₹<%=subtotal%></span></li>
                                </ul>
                                <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                                <a onclick="update()" class="primary-btn mt-3" style="color: white;">update</a>
                            </div>
                        </div>
            </div>
        </div>
    </section>

    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <div class="shoezy-logo mt-0" style="color: white;">shoezy</div>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/images/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <% } %>

        <!-- Search Begin -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search End -->

        <!-- Js Plugins -->
        <%- include('../layouts/footer.ejs') %>