<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shoezy</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style1.css" type="text/css">

    <style>
        body {
            background-color: #f8f9fa;
        }

        .card {
            border: none;
            box-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .shipping-address-container {
                margin-top: -148px;
            }
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Offcanvas Menu Begin -->

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option cart-section">
            <a href="#" onclick="checkUserSessioFoWishlist()"><img src="/images/icon/heart.png" alt=""></a>
            <a href="#" onclick="checkUserSession()"><img src="/images/icon/shopping-cart.png" style="width: 80%;"
                    alt="">
                <span>0</span></a>
            <a href="/user-account"><img src="/images/icon/user.png" width="80%" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->


    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <!-- <a href="./index.html"><img src="/images/logo.png" alt=""></a> -->
                        <div class="shoezy-logo mt-0">shoezy</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">

                        <ul>
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" onclick="checkUserSessioFoWishlist()"><img src="/images/icon/heart.png" alt=""></a>
                        <a href="#" onclick="checkUserSession()">
                            <img src="/images/icon/shopping-cart.png" width="80%" alt="">
                        </a>
                        <a href="/user-account"><img src="/images/icon/user.png" width="80%" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>User Profile</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <span>profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-9">
                <!-- Main Content -->
                <div class="checkout__title mt-5" style="margin-left: 6px;">
                    <h5>Personal Information</h5>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <input type="hidden" name="user" value="<%=user%>" id="user">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">First Name</label>
                                    <span style="background-color: #f3f2ee; display: block; padding: 8px;">
                                        <%=user.firstName%>
                                    </span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastName">Last Name</label>
                                    <span style="background-color: #f3f2ee; display: block; padding: 8px;">
                                        <%=user.secondName%>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <span style="background-color: #f3f2ee; display: block; padding: 8px;">
                                    <%=user.email%>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <span style="background-color: #f3f2ee; display: block; padding: 8px;">
                                    <%=user.mobile%>
                                </span>
                            </div>
                            <input type="hidden" value="<%=Address%>">
                        </form>
                        <div>
                            <button onclick="editprofile()" class="btn btn-info">edit profile</button>
                            <button id="changePassword" class="btn btn-secondary">change password</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="sidebar pe-4 pb-3" style="margin-top: 125px;">
                    <nav class="navbar card" style="background-color: white;">
                        <div class="navbar-nav w-100">
                            <div class="nav-item dropdown">
                                <a href="/product-cart" class="nav-item nav-link font-weight-bold pt-4"
                                    style="color: black;"><i class="fa fa-shopping-cart"></i> Cart</a>
                                <a href="/wishlist" class="nav-item nav-link font-weight-bold pt-4"
                                    style="color: black;"><i class="fa fa-heart"></i> Wishlist</a>
                                <a href="/order" class="nav-item nav-link font-weight-bold pt-4"
                                    style="color: black;"><i class="fa fa-list"></i> My Orders</a>
                                <a href="/wallet" class="nav-item nav-link font-weight-bold pt-4"
                                    style="color: black;"><i class="fas fa-wallet"></i> My Wallet</a>
                                <a href="/logout" class="nav-item nav-link font-weight-bold pt-4"
                                    style="color: black;"><i class="fa fa-sign-out"></i> Logout</a>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a href="#" onclick="openModal()" class="btn btn-dark mt-2"
                                        style="width: 100%; background-color: black;"><i class="fa fa-plus"></i> Add new
                                        address</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-md-12 mt-5 ">
                <div class="checkout__title mt-0" style="margin-left: 6px;">
                    <% if (Address) { %>
                        <h5>Shipping Addresses</h5>
                        <% } %>

                            <% if (!Address) { %>
                                <h6 class="text-danger">please add an shipping address</h6>
                                <% } %>
                </div>
                <% if (Address) { %>
                    <% Address.forEach((userAddress, index)=> { %>
                        <div class="card mb-4">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="streetAddress">Street Address</label>
                                        <input type="text" class="form-control" id="streetAddress"
                                            placeholder="Enter street address" style="background-color: #f3f2ee;"
                                            readonly value="<%= userAddress.streetAddress %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="apartment">Apartment, suite, unit, etc. (optional)</label>
                                        <input type="text" class="form-control" style="background-color: #f3f2ee;"
                                            id="apartment" placeholder="Enter optional address information" readonly
                                            value="<%= userAddress.houseName %>">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city"
                                                style="background-color: #f3f2ee;" placeholder="Enter city" readonly
                                                value="<%= userAddress.town %>">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="state">State</label>
                                            <input type="text" class="form-control" id="state"
                                                style="background-color: #f3f2ee;" placeholder="Enter state" readonly
                                                value="<%= userAddress.state %>">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="zip">Zip Code</label>
                                            <input type="number" minlength="1" maxlength="6" class="form-control"
                                                style="background-color: #f3f2ee;" id="zip" placeholder="Enter zip code"
                                                readonly value="<%= userAddress.zipcode %>">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="country">Country</label>
                                            <input type="text" class="form-control" id="country"
                                                style="background-color: #f3f2ee;" placeholder="Enter country" readonly
                                                value="<%= userAddress.country %>">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <% }); %>
            </div>
            <% } %>
        </div>
    </div>




    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <div class="shoezy-logo mt-0" style="color: white;">shoezy</div>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="/images/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <script>
        function handleCheckboxClick(checkbox, userId) {
            if (checkbox.checked) {
                // Disable other checkboxes
                document.querySelectorAll('[name="useAddress"]').forEach(function (otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.disabled = true;
                    }
                });
                // Now you can use the userId variable as needed
                console.log('Selected User ID:', userId);
            } else {
                // Enable all checkboxes
                document.querySelectorAll('[name="useAddress"]').forEach(function (otherCheckbox) {
                    otherCheckbox.disabled = false;
                });
            }
        }

        document.getElementById('changePassword').addEventListener('click', async () => {
            const { value: password } = await Swal.fire({
                title: "Enter your password",
                input: "password",
                inputLabel: "Password",
                inputPlaceholder: "Enter your password",
                inputAttributes: {
                    maxlength: "10",
                    autocapitalize: "off",
                    autocorrect: "off"
                }
            });

            fetch('/change-password', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    password
                })
            }).then(response => {
                return response.json()
            }).then(data => {
                if (data) {
                    let value = data.value
                    if (value == 1) {
                        Swal.fire(`incorrect password please try again!`);
                    } else {

                        (async () => {
                            const { value: password } = await Swal.fire({
                                title: "Enter new password",
                                input: "password",
                                inputLabel: "Password",
                                inputPlaceholder: "Enter new password",
                                allowOutsideClick: false,
                                inputAttributes: {
                                    maxlength: "10",
                                    autocapitalize: "off",
                                    autocorrect: "off"
                                },
                                inputValidator: (value) => {
                                    return new Promise((resolve) => {
                                        if (value.length < 6) {
                                            resolve("Password must be at least 6 characters");
                                        } else {
                                            resolve();
                                        }
                                    });
                                }
                            });


                            fetch('/update-password', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    password
                                })
                            }).then(response => {
                                return response.json()
                            }).then(data => {
                                if (data) {
                                    Swal.fire("password updated !", "", "success");
                                }
                            }).catch(error => {
                                console.log(error);
                            })

                        })();

                    }
                }
            }).catch(error => {
                console.log(error);
            })
        })


        async function editprofile() {


            let firstname
            let secondname
            let mobile
            let email
            await Swal.fire({
                title: "Edit  Profile",
                html: `
                <form>
  <input type="hidden" name="user" value="<%=user%>" id="user">
  
  <!-- First Name Field -->
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" class="form-control" id="firstname" name="firstname" value="<%=user.firstName%>" required>
  </div>

  <!-- Second Name Field -->
  <div class="form-group">
    <label for="secondname">Second Name</label>
    <input type="text" class="form-control" id="secondname" name="secondname" value="<%=user.secondName%>" required>
  </div>


  <!-- Mobile Field -->
  <div class="form-group">
    <label class for="mobile">Mobile</label>
    <input type="number" class="form-control" id="mobile" name="mobile" value="<%=user.mobile%>" required>
  </div>

  <!-- Hidden Address Field -->
  <input type="hidden" name="address" value="<%=Address%>" required>
</form>

  `,
                focusConfirm: false,
                showCancelButton: false,
                confirmButtonText: 'Save',
                allowOutsideClick: false,
                preConfirm: () => {

                    firstname = document.getElementById("firstname").value,
                        secondname = document.getElementById("secondname").value,
                        mobile = document.getElementById('mobile').value

                    if (!firstname || !secondname || !mobile) {
                        Swal.showValidationMessage('all fields are required');
                        return false
                    }
                }
            });


            fetch('/edit-profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'

                },
                body: JSON.stringify({
                    firstname, secondname, mobile, email
                })

            }).then(response => {
                return response.json()
            }).then(data => {
                if (data) {

                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "profile updated",
                        showConfirmButton: false,
                    }); setTimeout(() => {
                        location.reload()
                    }, 1000);
                }
            }).catch(error => {
                console.log(error);
            })

        }

    </script>

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/custom.js"></script>
</body>

</html>